/* ================================================================================= */
/* ================= Admin/Products/Index.cshtml ================= */
/* ================================================================================= */
.table-wrapper {
    overflow-x: auto;
}

.table-actions {
    position: sticky;
    right: 0;
    background: #fff;
    z-index: 2;
    min-width: 150px;
}

thead .table-actions {
    z-index: 3;
    background: #f8f9fa;
}

.table td,
.table th {
    white-space: nowrap;
}
