/* ================================================================================= */
/* ================= Admin/Views/ProductReviews/Edit.cshtml ================= */
/* ================================================================================= */
.avatar-img {
    width: var(--avatar-size, 40px);
    height: var(--avatar-size, 40px);
    border-radius: 50%;
    object-fit: cover;
}
