/* ================================================================================= */
/* ================= Admin/Views/Violationreports/Index.cshtml ================= */
/* ================================================================================= */
.custom-table thead {
    background-color: #f8f9fa;
    font-weight: 600;
}

.custom-table tbody tr {
    transition: all 0.2s ease;
}

.custom-table tbody tr:hover {
    background-color: #f1f5ff;
    transform: scale(1.01);
}

.card {
    overflow: hidden;
}
